.Button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  border-radius: 5px;
  color: #fff;
  width: 15rem;
  background: #bd2df5;
}
.Button.active {
    box-shadow: unset;
    top: unset;
    background-color: #fff;
    color: #000;
    border: 1px solid;
}
.Button:active::before {
	animation: effect_dylan; 
}

@keyframes effect_dylan {
	50% {
	  transform: scale(1.5, 1.5);
	  opacity: 0;
	}
	99% {
	  transform: scale(0.001, 0.001);
	  opacity: 0;
	}
	100% {
	  transform: scale(0.001, 0.001);
	  opacity: 1;
	}
}
.Button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.RED {
	background: #cb4e4e;
	box-shadow: 0 6px #ab3c3c;
  
}
.RED:active{
    box-shadow: 0 0 #ab3c3c;
	  top: 6px;
  }
.RED:hover {
	box-shadow: 0 8px #ab3c3c;
	top: -2px;
}
/* Button 2 */
.BLUE {
	background: #0e83cd;
	box-shadow: 0 6px #085a8e;
}

.BLUE:active {
    box-shadow: 0 0 #085a8e;
	  top: 6px;
  }
.BLUE:hover {
	box-shadow: 0 8px #085a8e;
	top: -2px;
}
/* Button 3 */
.YELLOW {
	background: #fcad26;
	box-shadow: 0 6px #b17713;
}
.YELLOW:active {
    box-shadow: 0 0 #b17713;
    top: 6px;
}
.YELLOW:hover {
	box-shadow: 0 8px #b17713;
	top: -2px;
}
/* Button 4 */
.GREEN {
	background: #17954c;
	box-shadow: 0 6px #0f6131;
}
.GREEN:active {
    box-shadow: 0 0 #0f6131;
	  top: 6px;
  }
.GREEN:hover {
	box-shadow: 0 8px #0f6131;
	top: -2px;
}